.page__dcws {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: white;
  overflow: hidden;
  }

  .starter__para-dcws {
  margin-left: 40px;
  font-size: 16px;
  font-weight: 600;

}

.starter__para-sub-dcws {
  margin:  4px 40px;
  font-size: 14px;
  font-weight: 400;

}

.diamond__wrapper--dcws {
    position: relative;
    width: max-content;
    margin: 3.43rem auto 0 auto;

    
}

.diamond-dcws-1 {
  width: 140px;
  height: 140px;
  background-color: rgb(237, 227, 227);
  position: absolute;
  top: 0%;
  left: 50%;        
  transform: translateX(-50%)rotate(45deg);
  border: 1px solid #A0A4AB;
  cursor: pointer;
}

.diamond-dcws-2 {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 100px;
  left: 0;     
  background-color: #ebedf7;
  transform:  translateX(-123%) translateY(1%) rotate(45deg);  
  border: 1px solid #A0A4AB;
  cursor: not-allowed;
}

.diamond-dcws-3 {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 200px;    
  left: 50%;   
  background-color: #ebedf7;
  transform:  translateX(-50%) translateY(3%) rotate(45deg);
  border: 1px solid #A0A4AB;
  cursor: not-allowed;
}

.diamond-dcws-4 {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 300px;
  right: 0;    
  margin: -20px;
  background-color: #ebedf7;  
  transform:  translateX(109%) translateY(-127%) rotate(45deg);
  border: 1px solid #A0A4AB;
  cursor: not-allowed;
}

.diamond-dcws-1:hover, .diamond-dcws-2:hover, .diamond-dcws-3:hover, .diamond-dcws-4:hover   {
 background-color: #a0a4ab;
} 

.expander-dcws {
  position: absolute;
  left: 30%;
  transform:  translateX(-50%) rotate(45deg) scale(0);
  background-color: transparent;
  border: 2px dotted #A0A4AB;
  transition: transform 0.3s ease;
  pointer-events: none;
  z-index: 0;
}

.expander-1 {
  position: absolute;
   width: 21.875rem;
  height: 21.875rem;
  left: 50%;
  translate: -50%;
  

}
.expander-2 {
 position: absolute;
  width: 26.56rem;
  height: 26.56rem;
  left: 50%;
  top: -40px;
  translate: -50%;
  
   
}
.expander-3 {
 position: absolute;
  width: 31.25rem;
  height: 31.25rem;
  left: 50%;
  top: -79px;
  translate: -50%;
}
.expander-4 {
 position: absolute;
  width: 26.56rem;
  height: 26.56rem;
  left: 50%;
  top: -40px;
  translate: -50%;
  
}

.diamond-dcws-1:hover ~ .expander-1,
.diamond-dcws-2:hover ~ .expander-2,
.diamond-dcws-3:hover ~ .expander-3,
.diamond-dcws-4:hover ~ .expander-4 {
  transform: rotate(45deg) scale(1);
}

.label_demographics-dcws-1 {
    position: absolute;
    top: 60px;
    right: 4px;
    font-size: 16px;
    transform: rotate(-45deg);
}

.label_demographics-dcws-2 {
    position: absolute;
    top: 50px;
    left: 18px;
    font-size: 16px;
    transform: rotate(-45deg);
}

.label_demographics-dcws-3 {
    position: absolute;
    top: 57px;
    right: 30px;
    font-size: 16px;
    transform: rotate(-45deg);
}

.label_demographics-dcws-4 {
    position: absolute;
    top: 56px;
    left: -9px;
    font-size: 16px;
    transform: rotate(-45deg);
}

.diamond__arrow--wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  
}

.arrow__left-dcws {
  position: absolute;
  left: 65px;
  top: 680px;
  transform: rotate(45deg);
  height: 50px;
  
}

.left__diamond--para-dcws {
  position: absolute;
  left: 122px;
  top: 687px;
  transform: rotate(360deg)
}

.right__diamond--para-dcws {
  position: absolute;
  right: 70px;
  top: 687px;
  transform: rotate(360deg);
  
}

.arrow__right-dcws {
  position: absolute;
  right: 20px;
  top: 682px;
  transform: rotate(45deg);
}

.arrow__left-dcws:hover,
.arrow__right-dcws:hover {
transform: scale(1.2) rotate(45deg);
transition: transform 0.3s ease;
}

@media (max-width: 767px) {


.arrow__left-dcws {
  position: absolute;
  left: 65px;
  top: 480px;  /* 680px */
  transform: rotate(45deg);
  height: 50px;
  
}

.left__diamond--para-dcws {
  position: absolute;
  left: 122px;
  top: 486px;   /* 687px */
  transform: rotate(360deg)
}

.right__diamond--para-dcws {
  position: absolute;
  right: 70px;  /* 70 px*/
  top: 486px;   /* 687px */
  transform: rotate(360deg);
  
}

.arrow__right-dcws {
  position: absolute;
  right: 20px;
  top: 482px;     /*682 px*/
  transform: rotate(45deg);
}

}

