.page__results {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: none;
  margin: 0 20px;
  padding: 0 16px;
  overflow: hidden;
}

.para__wrapper-results {
  margin-top: 20px;
}

.starter__para-results {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
}

.starter__demographics-results {
  font-size: 72px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -6%;
  color: #1a1b1c;
}

.starter__para-sub-results {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
}

.grid {
  margin: 40px 0 0;
  width: 96%;
  height: 423px;
  position: relative;
  top: -3%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.side__panel {
  position: relative;
  top: -3.3%;
  width: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}


.custom__rectangle,
.custom__rectangle-ethnicity,
.custom__rectangle-age,
.custom__rectangle-gender {
  width: 100%;
  height: 79px;
  border-top: solid 0.5px;
  border-left: none;
  border-bottom: none;
  border-right: none;
  background-color: #ebedf7;
  margin: 0 0 12px;
  padding: 12px;
  cursor: pointer;
}

.custom__rectangle-breakdown {
  background-color: #ebedf7;
  color: black;
  width: 101%;
  height: 79px;
  border-top: solid 0.5px;
  border-left: none;
  border-bottom: none;
  border-right: none;
  margin: 0 0 12px;
  padding: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom__rectangle-breakdown:hover {
background-color: rgba(114, 96, 96, 0.411);
}

.custom__rectangle-breakdown.selected {
  background-color: black;
  color: white;
}

.custom__rectangle-breakdown.selected .ethnicity__is,
.custom__rectangle-breakdown.selected .age__range__is,
.custom__rectangle-breakdown.selected .gender__is,
.custom__rectangle-breakdown.selected .race,
.custom__rectangle-breakdown.selected .age,
.custom__rectangle-breakdown.selected .gender {
  color: white;
}

.custom__rectangle-ethnicity {
  background-color: black;
  color: white;
  flex-wrap: wrap;
}

.custom__rectangle:hover,
.custom__rectangle-ethnicity:hover,
.custom__rectangle-age:hover,
.custom__rectangle-gender:hover {
  background-color: rgba(114, 96, 96, 0.411);
}


.ethnicity__is,
.age__range__is,
.gender__is,
.race,
.age,
.gender {
  font-size: 16px;
  width: 120%;
  height: 24px;
}

.race,
.age,
.gender {
  margin: 0 0 4px;
}

.ethnicity__wrapper,
.age__wrapper,
.gender__wrapper {
  display: flex;
  flex-direction: column;
}

.custom__rectangle-graph {
  position: relative;
  top: 17%;
  width: 61.5%;
  height: 425px;
  border-top: solid 0.5px;
  border-left: none;
  border-bottom: none;
  border-right: none;
  background-color: #ebedf7;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ethnicity__is--graph {
  position: absolute;
  top: 7px;
  left: 20px;
  font-size: 40px;
  width: 214px;
  height: 60px;
  color: #1a1b1c;
  margin: 0 0 8px;
}

.transparent__rectangle {
  width: 384px;
  height: 384px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 28.6%;
  top: 19.5%;
  max-height: 384px;
  background-color: transparent;
}

.circle-progress {
  width: 120px;
  height: 120px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  background: transparent;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: bold;
}

.custom__rectangle-ethnicity-specifications {
  position: relative;
  top: 18.3%;
  width: 24.4%;
  height: 425px;
  border-top: solid 0.5px;
  border-left: none;
  border-bottom: none;
  border-right: none;
  background-color: #ebedf7;
  margin: 0 0 12px;
  padding: 12px;
  flex-wrap: wrap;
  max-height: 425px;
  overflow-y: auto;
  padding-right: 8px;
}

.current__focus--ai-confidence {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  height: 32px;
}

.AI__calculations-race,
.AI__confidence {
  font-size: 16px;
  color: #1a1b1c;
  height: 24px;
  font-weight: 100;
  margin: 0 0 8px;
  white-space: nowrap;
}

.breakdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  cursor: pointer;
}

.ethnicity__breakdown,
.age__breakdown,
.gender__breakdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  cursor: pointer;
}

.ethnicity__breakdown:hover,
.age__breakdown:hover,
.gender__breakdown:hover {
  background-color: rgba(114, 96, 96, 0.411);
}

.ethnicity__breakdown.selected,
.age__breakdown.selected,
.gender__breakdown.selected {
  background-color: black;
  color: white;
}

.ethnicity__breakdown.selected .community,
.age__breakdown.selected .community,
.gender__breakdown.selected .community,
.ethnicity__breakdown.selected .community span,
.age__breakdown.selected .community span,
.gender__breakdown.selected .community span,
.ethnicity__breakdown.selected .small__diamond-results,
.age__breakdown.selected .small__diamond-results,
.gender__breakdown.selected .small__diamond-results,
.ethnicity__breakdown.selected .percentage,
.age__breakdown.selected .percentage,
.gender__breakdown.selected .percentage {
  color: white;
}

.breakdown.selected,
.custom__rectangle.selected {
  background-color: black;
  color: white;
  cursor: pointer;
}

.breakdown.selected .community,
.breakdown.selected .community span,
.breakdown.selected .small__diamond-results,
.breakdown.selected .percentage {
  color: white;
}

.selected-rectangle {
  border: 2px solid black;
  background-color: #000;
  color: #fff;
}

.ethnicity__breakdown *,
.ethnicity__is--graph,
.age__breakdown *,
.gender__breakdown *,
.custom__rectangle-breakdown *,
.custom__rectangle-breakdown.selected.rectangle * {
  text-transform: capitalize;
}



.community {
  display: flex;
  text-align: center;
}

.small__diamond-results {
  color: black;
  font-size: 14px;
  margin: 0 8px 0 0;
}

.Latino-Hispanic {
  font-size: 16px;
  color: #1a1b1c;
}

@media (min-width: 768px) {
  .diamond__arrow--wrapper-results,
  .arrow__left-results,
  .left__diamond--para-results,
  .right__diamond--para-results,
  .arrow__right-results {
    display: none !important;
  }
}
  

@media (max-width: 767px) {
  .starter__demographics-results {
    font-size: 36px;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    gap: 1px;
    margin-top: 24px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .side__panel {
    position: relative;
    width: 100%;
    height: auto;
  }

  .custom__rectangle-graph {
    display: none;
  }

  .transparent__rectangle {
    background-color: #ebedf7;
    position: absolute;
    top: 330px;
    left: 0%;
    width: 100%;
  }

  .custom__rectangle-ethnicity-specifications {
    position: absolute;
    top: 730px;
    width: 100%;
  }

  .diamond__arrow--wrapper-results {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  
}

.arrow__left-results {
  position: absolute;
  left: 25px;    
  top: 595px;
  transform: rotate(45deg);
  height: 50px;
  
}


.left__diamond--para-results {
  position: absolute;
  left: 75px;
  top: 605px;
  color: #1a1b1c;
  transform: rotate(360deg)
}

.right__diamond--para-results {
  position: absolute;
  right: 90px;
  top: 613px;
  color: #1a1b1c;
  transform: translate(-50%, -50%) rotate(360deg);
  
}

.arrow__right-results {
  position: absolute;
  right: 65px;
  top: 595px;
  transform: rotate(45deg);
  height: 50px;

}

.arrow__left-results:hover,
.arrow__right-results:hover {
transform: scale(1.2) rotate(45deg);
transition: transform 0.3s ease;
}



}