.diamond-stack  {
    position: absolute;
    top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
  }
 
  .diamond.outer {
    width: 420px;
    height: 420px;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top: 99px;
    left: 579px;
    z-index: 1;
    border-style: 2px dotted;
    border-color: #A0A4AB;
    opacity: 30%;
    animation: spin 85s infinite;

  }

   .diamond.inner {
    width: 682px;
    height: 682px; 
    background-color: white;
    position: absolute;
    top: 139px;
    left: 619px;
    transform: translate(-50%, -50%) rotate(180deg);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-style: 2px dotted;
    border-color: #A0A4AB;
    opacity: 60%;
    animation: spin 85s infinite;
  }

   .diamond.inner--last {
    width: 602px;
    height: 602px;
    background-color: white;
    position: absolute;
    top: 179px;
    left: 659px;
    transform: translate(-50%, -50%) rotate(270deg);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: 2px dotted;
    border-color: #A0A4AB;
    padding: 10px;
    animation: rotate 85s infinite;
  }

  @keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

